@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.ProductItem-heading {
    font-family: 'Oswald', sans-serif;
    font-size:medium;
    margin: 0.5rem 0;
    font-weight: 500;
    min-height: 4.5rem;
}

.ProductItem-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 9rem;
    height: auto;
}

.ProductItem-description {
    background-color: #f0f0f0;
    padding: 0.3rem;
    font-size: x-small;
    font-family: 'Oswald', sans-serif;
    /* text-overflow: ellipsis; */
    /* word-wrap: break-word; */
    overflow: hidden;
    max-height: 4.1em;
}

.ProductItem-description:hover {
    max-height: none;
}

.ProductItem-buy-button {
    width: 100%;
    background-color: #bf2957;
    color: white;
    border: none;
    padding: 0.6rem;
}