@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.cart-header {
    display: flex;
    justify-content: space-between;
    background-color: #1d2124;
    color: white;
    padding: 1rem;
}

.cart-footer {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #bf2957;
    color: white;
    border: none;
    padding: 0.8rem;
    margin-top: 2%;
    /* font-family: 'Oswald', sans-serif; */
}

.checkout-text {
    font-family: 'Oswald', sans-serif;
}

.checkout-icon {
    font-size: 1rem;
}

.cart-content {
    background-color: #eeeeee;
}

div.MuiDialogContent-root {
    padding: 0;
}

.cart-item {
    display: flex;
    background-color: white;
    height: 6rem;
    margin-top: 0.5rem;
}
.cart-item-image {
    width:18%;
    /* height:6rem; */
    margin: 2%;
    /* border: 6px solid #ccc; */
    /* background-color: red; */
}
.cart-item-name{
    /* background-color: pink; */
}
.cart-item-quantity{
    /* background-color: #9acd32; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width:75%;
    height:6rem;
    /* background-color: aquamarine; */
}

.quantity-button {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #bf2957;
    color: white;
    border: none;
    margin: 0.5rem;
    border-radius: 50%;
}
.quantity-value {
    padding: 0 0.5rem;
}

