.HomePoster-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.poster {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 20px -20px;
    justify-content: space-around;
    padding: 2rem;
}

.poster img {
    width: 15rem;
    height: 10rem;
}

.carousel {
    margin-top: 1rem;
}

div.thumbs-wrapper {
    display: none;
}

.carousel ul.control-dots {
    margin: 0;
}

div.carousel-root.carousel {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 20px -20px;
}
