.Register-container {
    display: flex;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 25%;
}

.button {
    background-color: #bf2957;
    color: white;
    border: none;
    padding: 0.6rem;
}
