.HomePoster-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.HomePoster-poster {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 20px -20px;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.HomePoster-poster img {
    width: 15rem;
    height: 10rem;
}

.HomePoster-carousel {
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 20px -20px;
}

/* div.thumbs-wrapper {
    display: none;
} */

/* .carousel ul.control-dots {
    margin: 0;
} */

/* div.carousel-root.HomePoster-carousel {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 20px -20px;
} */