.ContentCard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading {  
    font-weight: 900;
    letter-spacing: -1px;
}
.description {
    font-size: small;
    letter-spacing: -1px;
}
.button {
    background-color: #bf2957;
    color: white;
    border: none;
    padding: 0.6rem;
}