@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.product-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    margin-left: 10%;
    width: 80%;
}

.side-panel {
    /* display: flex;
    flex-direction: column; */
    width: 20%;
    background-color: #eaeaea;
}

.product-panel {
    width: 80%;
}

.category-name {
    font-family: 'Oswald', sans-serif;
    font-size: small;
    color: #949494;
    padding: 0.5rem 2rem;
    border-bottom: 1.5px solid #dcdcdc;
}

